<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 mx-auto">
            <form (ngSubmit)="login()" [formGroup]="form">
                <div class="form-group">
                    <input type="email" class="form-control form-control-sm" placeholder="Email Address"
                    formControlName = emailAddress>
                </div>
                <br>
                <div class="form-group">

                    <input type="password" class="form-control form-control-sm" placeholder="Password"
                    formControlName = password>
                </div>
                <hr>
                <button type="submit" class="btn btn-danger">Login</button>
                &nbsp;&nbsp;Don't have an Account? <a routerLink=""><b>Signup</b></a>
            </form>
        </div>
    </div>
</div>