<div class="content">

  <div class="container-fluid">
    <div class="d-flex justify-content-around">

      <div class="card col-lg-3 col-md-3 col-sm-3 ml-5" style="border-radius: 1em; height: 8rem;">
          <div class="row card-header">
            <h2 class="pl-3">Gross Income</h2>
            <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-calendar3 pt-2 ml-2" viewBox="0 0 16 16">
              <path d="M14 0H2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zM1 3.857C1 3.384 1.448 3 2 3h12c.552 0 1 .384 1 .857v10.286c0 .473-.448.857-1 .857H2c-.552 0-1-.384-1-.857V3.857z"/>
              <path d="M6.5 7a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm-9 3a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2zm3 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
            </svg>
          </div>
            <div class="row card-body">
              <div class="col col-md-6 col-sm-6">
                <h2>$5367</h2>
              </div>
              <div class="stats col-md-2 col-sm-2"> </div>
              <div class="stats col-md-4 col-sm-6 text-center">
                <h3 style="background-color: rgb(94, 156, 94); color: white; border-radius: 2em;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                    class="bi bi-arrow-up-circle-fill pb-1 mr-1" viewBox="0 0 16 16">
                    <path
                      d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
                  </svg>48.8%
                </h3>
              </div>
            </div>
      </div>

      <div class="card col-lg-3 col-md-3 col-sm-3 mx-5" style="border-radius: 1em; height: 8rem;">
          <div class="card-header">
            <h2>Expenses</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col col-md-6 col-sm-6">
                <h2>$531</h2>
              </div>
              <div class="stats col-md-2 col-sm-2"> </div>
              <div class="stats col-md-4 col-sm-6 text-center">
                <h3 style="background-color: rgb(94, 156, 94); color: white; border-radius: 2em;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                    class="bi bi-arrow-down-circle-fill pb-1 mr-1" viewBox="0 0 16 16">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                  </svg>9.8%
                </h3>
              </div>
            </div>
          </div>
      </div>


      <div class="card col-lg-3 col-md-3 col-sm-3 mr-5" style="border-radius: 1em; height: 8rem;">
          <div class="card-header">
            <h2>Net Profit</h2>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col col-md-6 col-sm-6">
                <h2>$2104</h2>
              </div>
              <div class="stats col-md-2 col-sm-2"> </div>
              <div class="stats col-md-4 col-sm-6 text-center">
                <h3 style="background-color: rgb(220, 91, 74); color: white; border-radius: 2em;">
                  <svg xmlns="http://www.w3.org/2000/svg" width="19" height="19" fill="currentColor"
                    class="bi bi-arrow-down-circle-fill pb-1 mr-1" viewBox="0 0 16 16">
                    <path
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v5.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V4.5z" />
                  </svg>4.8%
                </h3>
              </div>
            </div>
          </div>
      </div>


    </div>
  </div>

  <br>
  <br>


  <div class="container-fluid">

    <div class="d-flex justify-content-around">


      <div class=" card col-md-6 col-lg-6 col-sm-12 mt-2 px-2" style="border-radius: 1em;">
        <br>
        <canvas id="linechart"></canvas>
      </div>



      <div class="card col-lg-3 col-md-3 col-sm-3 ml-5" style="border-radius: 1em;">
        <div class="card-header">
          <h2>Last 30 days</h2>
        </div>
        <div class="card-body">
          <ul class="list-group">
            <table class="table">
              <tbody>
                <tr>
                  <td class="left">
                    <strong>Total Loads</strong>
                  </td>
                  <td class="right">110</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Loads in Progress</strong>
                  </td>
                  <td class="right">39</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Loads Canceled</strong>
                  </td>
                  <td class="right">39</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Loads Delivered</strong>
                  </td>
                  <td class="right">39</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>Fleet Count</strong>
                  </td>
                  <td class="right">86</td>
                </tr>
                <tr>
                  <td class="left">
                    <strong>New Team Members</strong>
                  </td>
                  <td class="right">73</td>
                </tr>
              </tbody>
            </table>
          </ul>
        </div>
      </div>
      </div>

      <br>
      <br>
      <br>
      <br>


      <div class="container-fluid">
        <div class="d-flex justify-content-around">


          <div class="col-md-1"></div>

          <div class="col-md-5">
            <h2 class="text-center">Incomes by Category</h2>
            <hr>
            <canvas id="incomechart"></canvas>
          </div>




          <div class="col-md-5">
            <h2 class="text-center">Expenses by Category</h2>
            <hr>
            <canvas id="expensechart"></canvas>
          </div>

          <div class="col-md-1"></div>

        </div>
      </div>