<div class="content">
    <h4>Vehicle Information</h4>
        <div class=" col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="left">
                            <strong>Unit Number</strong>
                        </td>
                        <td class="right">{{vehicleInfo.unitNumber}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Make</strong>
                        </td>
                        <td class="right">{{vehicleInfo.make}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Model</strong>
                        </td>
                        <td class="right">{{vehicleInfo.model}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Year</strong>
                        </td>
                        <td class="right">{{vehicleInfo.year}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Odometer</strong>
                        </td>
                        <td class="right">{{vehicleInfo.odometer}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Plate Number</strong>
                        </td>
                        <td class="right">{{vehicleInfo.plateNumber}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>VIN</strong>
                        </td>
                        <td class="right">{{vehicleInfo.vin}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Vehicle Type</strong>
                        </td>
                        <td class="right">{{vehicleInfo.vehicleType}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Assigned Driver</strong>
                        </td>
                        <td class="right">{{vehicleInfo.assignedDriver}}</td>
                    </tr>
                    
                    <tr>
                        <td class="left">
                            <strong>Note</strong>
                        </td>
                        <td class="right">{{vehicleInfo.note}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>