<div class="content">
    <h4>Load Information</h4>
        <div class=" col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="left">
                            <strong>Date</strong>
                        </td>
                        <td class="right">{{loadInfo?.date}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Driver</strong>
                        </td>
                        <td class="right">{{loadInfo?.driver}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Pay</strong>
                        </td>
                        <td class="right">{{loadInfo?.pay}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Pick up</strong>
                        </td>
                        <td class="right">{{loadInfo?.pickupCity}},&nbsp;{{loadInfo?.pickupState}}&nbsp;{{loadInfo?.pickupZipcode}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Destination</strong>
                        </td>
                        <td class="right">{{loadInfo?.destinationCity}},&nbsp;{{loadInfo?.destinationState}}&nbsp;{{loadInfo?.destinationZipcode}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Distance (Miles)</strong>
                        </td>
                        <td class="right">{{loadInfo?.distance}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Rate Per Mile (RPM)</strong>
                        </td>
                        <td class="right">${{loadInfo?.pay/loadInfo?.distance}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Load Type</strong>
                        </td>
                        <td class="right">{{loadInfo?.loadType}}</td>
                    </tr> 
                    <tr>
                        <td class="left">
                            <strong>Dispatch Name</strong>
                        </td>
                        <td class="right">{{loadInfo?.dispatchName}}</td>
                    </tr> 
                    <tr>
                        <td class="left">
                            <strong>Vehicle</strong>
                        </td>
                        <td class="right">{{loadInfo?.vehicle}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Trailer Number</strong>
                        </td>
                        <td class="right">{{loadInfo?.trailerNumber}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Client</strong>
                        </td>
                        <td class="right">{{loadInfo?.client}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Status</strong>
                        </td>
                        <td class="right"></td>
                    </tr> 
                    <tr>
                        <td class="left">
                            <strong>Note</strong>
                        </td>
                        <td class="right">{{loadInfo?.note}}</td>
                    </tr> 
                    <tr>
                        <td class="left">
                            <strong>Attachment</strong>
                        </td>
                        <td class="right"></td>
                    </tr> 
                </tbody>
            </table>
        </div>
        
    </div>