<div class="content">
    <h4>IFTA Record Information</h4>
        <div class=" col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="left">
                            <strong>Trip Date</strong>
                        </td>
                        <td class="right">08/29/23</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Vehilce</strong>
                        </td>
                        <td class="right">743</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>State</strong>
                        </td>
                        <td class="right">NC</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Odometer Start</strong>
                        </td>
                        <td class="right">0</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Odometer End</strong>
                        </td>
                        <td class="right">600</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Trip Type</strong>
                        </td>
                        <td class="right">Loaded</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Distance</strong>
                        </td>
                        <td class="right">600</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Non Taxible Distance</strong>
                        </td>
                        <td class="right">0</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Toll Miles</strong>
                        </td>
                        <td class="right">0</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Non Toll Miles</strong>
                        </td>
                        <td class="right">0</td>
                    </tr>
                    
                    <tr>
                        <td class="left">
                            <strong>Fuel Purchased</strong>
                        </td>
                        <td class="right">230</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Note</strong>
                        </td>
                        <td class="right"></td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Attachment</strong>
                        </td>
                        <td class="right"></td>
                    </tr> 
                </tbody>
            </table>
        </div>
        
    </div>