<div class="content">
<h4>Team Member Information</h4>
    <div class=" col-md-12">
        <table class="table">
            <tbody>
                <tr>
                    <td class="left">
                        <strong>Member Name</strong>
                    </td>
                    <td class="right">{{memberInfo?.firstName}}&nbsp;{{memberInfo?.lastName}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <strong>Joining Date</strong>
                    </td>
                    <td class="right">{{memberInfo?.date}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <strong>job Title</strong>
                    </td>
                    <td class="right">{{memberInfo?.jobTitle}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <strong>Employment Type</strong>
                    </td>
                    <td class="right">{{memberInfo?.employmentType}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <strong>License ID</strong>
                    </td>
                    <td class="right">{{memberInfo?.licenseId}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <strong>Contact Number</strong>
                    </td>
                    <td class="right">{{memberInfo?.contactNumber}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <strong>Email Address</strong>
                    </td>
                    <td class="right">{{memberInfo?.emailAddress}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <strong>Emergency Contact Number</strong>
                    </td>
                    <td class="right">{{memberInfo?.emergencyContactNumber}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <strong>Mail Address</strong>
                    </td>
                    <td class="right">{{memberInfo?.mailAddress}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <strong>Note</strong>
                    </td>
                    <td class="right">{{memberInfo?.note}}</td>
                </tr>
                <tr>
                    <td class="left">
                        <strong>Attachment</strong>
                    </td>
                    <td class="right"></td>
                </tr> 
            </tbody>
        </table>
    </div>
    
</div>