
  <div class=" content">
    <h2 class="row justify-content-center">Select Your Plan</h2>
    <div class="row">
      <div class="col-md-4">
        <div class=" card card-user">
          <div class=" card-body">
            <p class=" card-text"></p>
            <div class=" author">
                <h3 class=" title">Basic</h3>
            </div>
            <div class=" card-description">
              Basic features and functionalities.
            </div>
            <br>
            <br>
            <h2 class="row justify-content-center">$29.99</h2>
          </div>
          <div class=" card-footer">
            <div class=" button-container">
              <button
                class=" btn justify-content-center col-md-12" href="">
                Add To Cart
                </button>
            </div>
          </div>
        </div>
      </div>


      <div class=" col-md-4">
        <div class=" card card-user">
          <div class=" card-body">
            <p class=" card-text"></p>
            <div class=" author">
                <h3 class=" title">Silver</h3>
            </div>
            <div class=" card-description">
              Some advanced features and functionalities.
            </div>
            <br>
            <br>
            <h2 class="row justify-content-center">$39.99</h2>
          </div>
          <div class=" card-footer">
            <div class=" button-container">
              <button
                class=" btn justify-content-center col-md-12" href="">
                Add To Cart
                </button>
            </div>
          </div>
        </div>
      </div>

      <div class=" col-md-4">
        <div class=" card card-user">
          <div class=" card-body">
            <p class=" card-text"></p>
            <div class=" author">
                <h3 class=" title">Gold</h3>
            </div>
            <div class=" card-description">
              All features and functionalities.
            </div>
            <br>
            <br>
            <h2 class="row justify-content-center">$59.99</h2>
          </div>
          <div class=" card-footer">
            <div class=" button-container">
              <button
                class=" btn justify-content-center col-md-12" href="">
                Add To Cart
                </button>
            </div>
          </div>
        </div>
      </div>
    </div>
      

      


    </div>


