<div class="content">
    <h4>Income Information</h4>
        <div class=" col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="left">
                            <strong>Date</strong>
                        </td>
                        <td class="right">{{incomeInfo?.date}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Reference</strong>
                        </td>
                        <td class="right">{{incomeInfo?.reference}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Payer</strong>
                        </td>
                        <td class="right">{{incomeInfo?.payer}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Amount</strong>
                        </td>
                        <td class="right">{{incomeInfo?.amount}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Payment Type</strong>
                        </td>
                        <td class="right">{{incomeInfo?.paymentType}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Processed By</strong>
                        </td>
                        <td class="right">{{incomeInfo?.processedBy}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Income Category</strong>
                        </td>
                        <td class="right">{{incomeInfo?.incomeCategory}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Vehicle</strong>
                        </td>
                        <td class="right">{{incomeInfo?.vehicle}}</td>
                    </tr>
                    
                    <tr>
                        <td class="left">
                            <strong>Note</strong>
                        </td>
                        <td class="right">{{incomeInfo?.note}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>