input.ng-invalid.ng-touched{
    border: 2px solid red;
}

select.ng-invalid.ng-touched{
    border: 2px solid red;
}

span {
    display: table;
    margin: 0 auto;
    font-family: Georgia, serif;
}
