<div class="">
    <h2>IFTA Summary</h2>

    <hr>
    <div class="container">
        <div class="row">

            

            <div class="col-md-5 col">
                <p>Total Distance<p>
                <h2>70,853 mi</h2>
            </div>

            <div class="col-md-2"></div>

            <div class="col-md-5 col">
                <p>Total Fuel<p>
                <h2>21,743 gal</h2>
            </div>

            

        </div>
    </div>
    <hr>



    <div class="col-md-12">
        <div>
            <table class="table" id="">
                <thead class="text-primary">
                    <tr>
                        <th>Jurisdiction</th>
                        <th>Distance (Miles)</th>
                        <th>Fuel (Gallons)</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>AL</td>
                        <td>54000</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>AR</td>
                        <td>7511</td>
                        <td>3129</td>
                    </tr>
                    <tr>
                        <td>AZ</td>
                        <td>82223</td>
                        <td>2933</td>
                    </tr>
                    <tr>
                        <td>CA</td>
                        <td>54000</td>
                        <td>3000</td>
                    </tr>
                    <tr>
                        <td>CO</td>
                        <td>1200</td>
                        <td>120</td>
                    </tr>
                    <tr>
                        <td>CT</td>
                        <td>6721</td>
                        <td>231</td>
                    </tr>
                    <tr>
                        <td>DC</td>
                        <td>98543</td>
                        <td>5900</td>
                    </tr>
                    <tr>
                        <td>DE</td>
                        <td>43122</td>
                        <td>1290</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>