<div class="content">
    <h4>Expense Information</h4>
        <div class=" col-md-12">
            <table class="table">
                <tbody>
                    <tr>
                        <td class="left">
                            <strong>Date</strong>
                        </td>
                        <td class="right">{{expenseInfo.date}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Reference</strong>
                        </td>
                        <td class="right">{{expenseInfo.reference}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Paid By</strong>
                        </td>
                        <td class="right">{{expenseInfo.paidBy}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Amount</strong>
                        </td>
                        <td class="right">{{expenseInfo.amount}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Payment Type</strong>
                        </td>
                        <td class="right">{{expenseInfo.paymentType}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Payee</strong>
                        </td>
                        <td class="right">{{expenseInfo.payee}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Expense Category</strong>
                        </td>
                        <td class="right">{{expenseInfo.expenseCategory}}</td>
                    </tr>
                    <tr>
                        <td class="left">
                            <strong>Vehicle</strong>
                        </td>
                        <td class="right">{{expenseInfo.vehicle}}</td>
                    </tr>
                    
                    <tr>
                        <td class="left">
                            <strong>Note</strong>
                        </td>
                        <td class="right">{{expenseInfo.note}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        
    </div>